* text=auto

*.bcfzip binary
*.docx binary
*.glb binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.xlsx binary

*.css text eol=lf
*.html text eol=lf
*.ifc text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.svg text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
